# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All files in generated build folder
build\build\.vs\clang-bcc\v14\.suo
build\build\ALL_BUILD.vcxproj
build\build\ALL_BUILD.vcxproj.filters
build\build\CMakeCache.txt
build\build\CMakeFiles\3.5.1\CMakeCCompiler.cmake
build\build\CMakeFiles\3.5.1\CMakeCXXCompiler.cmake
build\build\CMakeFiles\3.5.1\CMakeDetermineCompilerABI_C.bin
build\build\CMakeFiles\3.5.1\CMakeDetermineCompilerABI_CXX.bin
build\build\CMakeFiles\3.5.1\CMakeRCCompiler.cmake
build\build\CMakeFiles\3.5.1\CMakeSystem.cmake
build\build\CMakeFiles\3.5.1\CompilerIdC\CMakeCCompilerId.c
build\build\CMakeFiles\3.5.1\CompilerIdC\CompilerIdC.vcxproj
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\CL.command.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\CL.read.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\CL.write.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\CompilerIdC.lastbuildstate
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.delete.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.delete.20.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.delete.23.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.delete.34.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.delete.41.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.13.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.20.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.23.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.29.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.34.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.41.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.7.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.read.9.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.write.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.write.20.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.write.23.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.write.29.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.write.34.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link-VCTIP.write.41.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link.command.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link.read.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdC\Debug\CompilerIdC.tlog\link.write.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdCXX\CMakeCXXCompilerId.cpp
build\build\CMakeFiles\3.5.1\CompilerIdCXX\CompilerIdCXX.vcxproj
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\CL.command.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\CL.read.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\CL.write.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\CompilerIdCXX.lastbuildstate
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\link.command.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\link.read.1.tlog
build\build\CMakeFiles\3.5.1\CompilerIdCXX\Debug\CompilerIdCXX.tlog\link.write.1.tlog
build\build\CMakeFiles\CMakeOutput.log
build\build\CMakeFiles\TargetDirectories.txt
build\build\CMakeFiles\b567ea43388081c13088b602edc23ec7\generate.stamp.rule
build\build\CMakeFiles\cmake.check_cache
build\build\CMakeFiles\feature_tests.bin
build\build\CMakeFiles\feature_tests.cxx
build\build\CMakeFiles\generate.stamp
build\build\CMakeFiles\generate.stamp.depend
build\build\CMakeFiles\generate.stamp.list
build\build\Debug\clang-bcc.ilk
build\build\Debug\clang-bcc.pdb
build\build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.log
build\build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.tlog\ZERO_CHECK.lastbuildstate
build\build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.tlog\custombuild.command.1.tlog
build\build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.tlog\custombuild.read.1.tlog
build\build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.tlog\custombuild.write.1.tlog
build\build\ZERO_CHECK.vcxproj
build\build\ZERO_CHECK.vcxproj.filters
build\build\clang-bcc.VC.VC.opendb
build\build\clang-bcc.VC.db
build\build\clang-bcc.dir\Debug\clang-bcc.log
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\CL.command.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\CL.read.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\CL.write.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\clang-bcc.lastbuildstate
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\custombuild.command.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\custombuild.read.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\custombuild.write.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\link.command.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\link.read.1.tlog
build\build\clang-bcc.dir\Debug\clang-bcc.tlog\link.write.1.tlog
build\build\clang-bcc.dir\Debug\vc140.pdb
build\build\clang-bcc.sln
build\build\clang-bcc.vcxproj
build\build\clang-bcc.vcxproj.filters
build\build\cmake_install.cmake

